*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    color:#105b63;
}
html{
    background-image: url('../img/noise.jpg');
}
body{
    color: #105b63;
    margin: 5px; /*agregué esto para que se vieran los bordes y que la página no parezca "infinita"*/
}
p,h1,h2,h3{
    margin-bottom: 1em;
}

.content{
    margin-left: 3em;
    margin-right: 3em;
}

/*
    COLORES:
    #63A69F >=> Verde Claro de fondo
    #105b63 >=> Verde Oscuro de acento y textos sobre fondos claros
	#fffadc >=> Color para textos sobr efondo verde

*/

/* Estilo de links que muestran los parrafos
Quedan subrayados y se colorean al pasar el puntero para que se entiendan que son enlaces
*/
p a:hover{
  transition: all 0.3s;
	color: #fffadc;
	background-color: #105b63;

}
/* Esta clase esta pensada para el caso que se necesite usar una lista de links en otros lugares y se quiera dar un estilo sencillo, ej. lista de recursos */
.link-no-style a{
	text-decoration: none;
	color: #fffadc;
}


.header-principal{
    background-color: #63A69F;
    height: 10vh;
    position: sticky;
    top: 0;
}
footer{
  padding: 10px;
  background-color: #63A69F;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* se aplica flex al contenedor dentro de la cabecera proncipal dejando libre la clase contenedor 95vw para futuros usos */
.header-principal .contenedor-95vw{
    display: flex;
    align-items: center;
    justify-content: space-between;

}

/* Contenedor que centra elementos y ocupa 95 del viwport */
.contenedor-95vw{
    width: 95vw;
    height: 100%; /*ayuda a centrar elementos verticalmente*/
    margin: 0 auto;
    /* background-color: #fff; */
}

.menu ul{
    display: flex;
    list-style: none;
    padding: 0;
}

.menu a{
    padding: 0.5em;
    display: inline-block;
    text-decoration: none;
    color: #fffadc;
    transition: background-color 0.3s;
}
.menu a:hover{
    background-color:#105b63;
    border-radius: 3px;

}

.active{
    background-color: #105b63;
    border-radius: 3px;
}

.navegacion-lateral{
    background-color: #63A69F;
    padding-left: 2%;
    padding-top: 1%;
    padding-right: 1%;
    min-height:100vh;
    width: 20vw;

}




.logo img{
    width: 100%;
    display: inline-block;
}
.indice{
	max-height: 60%;
	overflow: scroll;
  overflow-x: hidden;
}
.indice ul{
	list-style-type: none;
}
.indice a:hover{
	text-decoration: #fffadc underline;
}

.contenido{
    display: flex;
    justify-content: space-between;

}
.principal{
    width: 80%;
    margin-left: 1%;

}
.box {
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.3);
	margin-top: 1%;

	padding: 2%;
	border-radius: 0.5%;
}
