* {
	margin: 0;
	box-sizing: border-box;
	}
html {
		background-image: url('../img/noise.jpg');
}
p{
	margin: 1em 0em;
}
body {
	color: #fffadcff;
	font-family: 'Open Sans', sans-serif;
}
.link-no-style{
	text-decoration: none;
	color: #fffadcff;
}



.menu{
	padding-top: 1em;
	/* padding-bottom: 1em; */
	height: 10vh;
	display: flex;
	justify-content: space-around;
	background-color: #63A69F;
	position: sticky;
	top:0;
}
.menu ul {
	/* padding: 0; */
	list-style: none; /*C*/
	margin: 0;/*C*/
	padding: 0;/*C*/
}

.menu ul li{
	background-color: transparent;
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.5);
	/* margin:5px 0px; *//*C*/
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	/* line-height: -1; */
	/* padding-left: 20px; */
	border-radius: 2%;
	text-align: center;
	display: inline-block;/*C*/

}

/* .menu ul li:hover{
	box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.5);
} */

.menu ul li a{
	text-decoration: none;
	display: block;
	color: #fffadcff;
	padding:.5em 1em;
	background-color: transparent;
	transition: background-color 0.3s;
}
.menu a:hover{
	background-color: #105b63fd;
}

.logo img {
	width: 100%;
}

.principal {
	width: 70%;
	/* background-color: #63A69F; */
	border-style: solid;
	border-color: #63A69F;
	color: #105b63fd
}

.buscador{
	/* width: 90%; */
	/* margin: 1.5em 1em; */
	background-color: transparent;
	display: flex;
	justify-content: flex-end;
}


.contenido{
	display: flex; 
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap; 
	/* margin: 0.5em 1em; */
}
aside {
	padding: 1%;
	border-radius: 1%;
	width: 20%;
	/* border-style: solid; */
	/* border-color: #cce490; */
	background-color: #63A69F;
	height: 90vh;
	/* position: fixed; */
	position: sticky;
	top:63px;
	/*left: 0; */
	
}

.box {
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.9);
	margin: 1%;
	padding: 2%;
	border-radius: 0.5%;
}

.indice{
	height: 50%;
	overflow: scroll;
	overflow-x: hidden;
}
.indice ul{
	list-style-type: none;
}
.indice a:hover{
	text-decoration: antiquewhite underline;
}
.active {
	background-color: #105b63fd;
}
p>a{
	color:#105b63fd;
	transition: all 0.3s;
}
p>a:hover{
	color: white;
	background-color: #105b63fd;

}