* {
	margin: 0;
	box-sizing: border-box;
	}
html {
		background-image: url('../img/noise.jpg');
}
p{
	margin: 1em 0em;
}
body {


	font-family: 'Open Sans', sans-serif;
}
.active {
	background-color: #105b63fd;
}
.menu{
	padding-top: 2em;
	display: flex;
	justify-content: space-around;
	background-color: #63A69F;
}
.menu ul {
	/* padding: 0; */
	list-style: none; /*C*/
	margin: 0;/*C*/
	padding: 0;/*C*/
}

.menu ul li{
	background-color: transparent;
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.9);
	/* margin:5px 0px; *//*C*/
	font-family: 'Roboto', sans-serif;
	font-size: 1rem;
	/* line-height: -1; */
	/* padding-left: 20px; */
	border-radius: 2%;
	text-align: center;
	display: inline-block;/*C*/

}

.menu ul li:hover{
	box-shadow: 0px 0px 5px 3px rgba(0,0,0,0.9);
}

.menu ul li a{
	text-decoration: none;
	display: block;
	color: white;
	padding:.5em 1em;
}
.menu a:hover{
	background-color: #105b63fd;
}

.logo img {
	width: 50%;
}

.principal {
	width: 70%;
	background-color: #0c907d;
	border-style: solid;
	border-color: #cce490;
}

.buscador{
	/* width: 90%; */
	margin: 1.5em 1em;
	background-color: transparent;
	display: flex;
	justify-content: flex-end;
}


.contenido{
	display: flex; 
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap; 
	/* margin: 0.5em 1em; */
}
aside {
	padding: 1%;
	border-radius: 1%;
	width: 20%;
	/* border-style: solid; */
	/* border-color: #cce490; */
	background-color: #63A69F;
	height: 100vh;
	/* position: fixed; */
	/* top:0;
	left: 0; */
	
}

.box {
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.9);
	margin: 1%;
	padding: 2%;
	border-radius: 0.5%;
}

.indice{
	height: 70%;
	overflow: scroll;
	overflow-x: hidden;
}