	* {
	margin: 0;
}

body {
	background-color: #ccc;
	display: flex;
	justify-content: space-around;
	align-items: flex-start;
	flex-wrap: wrap;
	margin: 2em 1em;
	font-family: 'Open Sans', sans-serif;
}

aside {
	padding: 1%;
	border-radius: 1%;
	width: 20%;
	background-color: white;
	height: 100vh;
}

.menu ul li{
	list-style: none;
	margin: 0.5% 0px;
	font-family: 'Roboto', sans-serif;
	font-size: 1.7rem;
	line-height: 150%;
	text-decoration: none;
}

.logo img {
	width: 100%;
	border-radius: 2%;
	border: 3px solid #000;
}

.principal {
	width: 70%;
	background-color: lightblue;
}

.buscador{
	width: 90%;
	margin: 2em 5%;
	background-color: red;
	display: flex;
	justify-content: flex-end;
}

.descripcion, .indice, .contenido {
	box-shadow: 0px 0px 10px 3px rgba(0,0,0,0.9);
	margin: 1%;
	padding: 1%;
	border-radius: 0.5%;
}
